
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


html, body {
  margin: 0;
  padding: 0;
  background: #0F162C;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3C3D3F;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #00F;
  text-decoration: underline;
  font-weight: bold;
}
button {
    color: #000000;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
h1 {
  color: #70A2FF;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #312D56;
  color: #BCA429;
  border-bottom: 4px solid #BCA429;
  font-size: 2em;
  font-style: normal;
}
table#requests {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#requests th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#requests th, table#requests td {
  padding: 4px;
  text-align: left;
}
table#requests th.hilite {
  background-color: yellow;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
